[submodule "examples/wiiu/module/external/WiiUModuleSystem"]
	path = examples/wiiu/module/external/WiiUModuleSystem
	url = https://github.com/wiiu-env/WiiUModuleSystem.git
[submodule "examples/wiiu/plugin/external/libnotifications"]
	path = examples/wiiu/plugin/external/libnotifications
	url = https://github.com/wiiu-env/libnotifications.git
[submodule "examples/wiiu/plugin/external/WiiUPluginSystem"]
	path = examples/wiiu/plugin/external/WiiUPluginSystem
	url = https://github.com/wiiu-env/WiiUPluginSystem.git
[submodule "examples/wiiu/sdl2-sound-test/external/sdl2xx"]
	path = examples/wiiu/sdl2-sound-test/external/sdl2xx
	url = https://github.com/dkosmari/sdl2xx.git
[submodule "examples/wiiu/sdl2-swkbd/external/sdl2xx"]
	path = examples/wiiu/sdl2-swkbd/external/sdl2xx
	url = https://github.com/dkosmari/sdl2xx.git
